.cl-white {
  color: #fff;
}

.cl-hover-white:HOVER {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.cl-gray-100 {
  color: #f8f9fa;
}

.cl-hover-gray-100:HOVER {
  color: #f8f9fa;
}

.bg-gray-100 {
  background-color: #f8f9fa;
}

.cl-gray-200 {
  color: #e9ecef;
}

.cl-hover-gray-200:HOVER {
  color: #e9ecef;
}

.bg-gray-200 {
  background-color: #e9ecef;
}

.cl-gray-300 {
  color: #dee2e6;
}

.cl-hover-gray-300:HOVER {
  color: #dee2e6;
}

.bg-gray-300 {
  background-color: #dee2e6;
}

.cl-gray-400 {
  color: #ced4da;
}

.cl-hover-gray-400:HOVER {
  color: #ced4da;
}

.bg-gray-400 {
  background-color: #ced4da;
}

.cl-gray-500 {
  color: #adb5bd;
}

.cl-hover-gray-500:HOVER {
  color: #adb5bd;
}

.bg-gray-500 {
  background-color: #adb5bd;
}

.cl-gray-600 {
  color: #868e96;
}

.cl-hover-gray-600:HOVER {
  color: #868e96;
}

.bg-gray-600 {
  background-color: #868e96;
}

.cl-gray-700 {
  color: #495057;
}

.cl-hover-gray-700:HOVER {
  color: #495057;
}

.bg-gray-700 {
  background-color: #495057;
}

.cl-gray-800 {
  color: #343a40;
}

.cl-hover-gray-800:HOVER {
  color: #343a40;
}

.bg-gray-800 {
  background-color: #343a40;
}

.cl-gray-900 {
  color: #212529;
}

.cl-hover-gray-900:HOVER {
  color: #212529;
}

.bg-gray-900 {
  background-color: #212529;
}

.cl-black {
  color: #000;
}

.cl-hover-black:HOVER {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.cl-blue {
  color: #007bff;
}

.cl-hover-blue:HOVER {
  color: #007bff;
}

.bg-blue {
  background-color: #007bff;
}

.cl-indigo {
  color: #6610f2;
}

.cl-hover-indigo:HOVER {
  color: #6610f2;
}

.bg-indigo {
  background-color: #6610f2;
}

.cl-purple {
  color: #6f42c1;
}

.cl-hover-purple:HOVER {
  color: #6f42c1;
}

.bg-purple {
  background-color: #6f42c1;
}

.cl-pink {
  color: #e83e8c;
}

.cl-hover-pink:HOVER {
  color: #e83e8c;
}

.bg-pink {
  background-color: #e83e8c;
}

.cl-firebrick {
  color: firebrick;
}

.cl-hover-firebrick:HOVER {
  color: firebrick;
}

.bg-firebrick {
  background-color: firebrick;
}

.cl-red {
  color: #dc3545;
}

.cl-hover-red:HOVER {
  color: #dc3545;
}

.bg-red {
  background-color: #dc3545;
}

.cl-orange {
  color: #BD5D38;
}

.cl-hover-orange:HOVER {
  color: #BD5D38;
}

.bg-orange {
  background-color: #BD5D38;
}

.cl-yellow {
  color: #ffc107;
}

.cl-hover-yellow:HOVER {
  color: #ffc107;
}

.bg-yellow {
  background-color: #ffc107;
}

.cl-lh-orange {
  color: #f0be90;
}

.cl-hover-lh-orange:HOVER {
  color: #f0be90;
}

.bg-lh-orange {
  background-color: #f0be90;
}

.cl-orange-gray {
  color: #50443f;
}

.cl-hover-orange-gray:HOVER {
  color: #50443f;
}

.bg-orange-gray {
  background-color: #50443f;
}

.cl-lh-orange-gray {
  color: rgba(241, 191, 175, 0.55);
}

.cl-hover-lh-orange-gray:HOVER {
  color: rgba(241, 191, 175, 0.55);
}

.bg-lh-orange-gray {
  background-color: rgba(241, 191, 175, 0.55);
}

.cl-beige {
  color: beige;
}

.cl-hover-beige:HOVER {
  color: beige;
}

.bg-beige {
  background-color: beige;
}

.cl-green {
  color: #28a745;
}

.cl-hover-green:HOVER {
  color: #28a745;
}

.bg-green {
  background-color: #28a745;
}

.cl-teal {
  color: #20c997;
}

.cl-hover-teal:HOVER {
  color: #20c997;
}

.bg-teal {
  background-color: #20c997;
}

.cl-cyan {
  color: #17a2b8;
}

.cl-hover-cyan:HOVER {
  color: #17a2b8;
}

.bg-cyan {
  background-color: #17a2b8;
}

.cl-sky {
  color: lightskyblue;
}

.cl-hover-sky:HOVER {
  color: lightskyblue;
}

.bg-sky {
  background-color: lightskyblue;
}

.cl-darkblue75 {
  color: rgba(12, 101, 136, 0.75);
}

.cl-hover-darkblue75:HOVER {
  color: rgba(12, 101, 136, 0.75);
}

.bg-darkblue75 {
  background-color: rgba(12, 101, 136, 0.75);
}

.cl-darkblue {
  color: #0c6588;
}

.cl-hover-darkblue:HOVER {
  color: #0c6588;
}

.bg-darkblue {
  background-color: #0c6588;
}

.cl-turquoise {
  color: turquoise;
}

.cl-hover-turquoise:HOVER {
  color: turquoise;
}

.bg-turquoise {
  background-color: turquoise;
}

.fs-25 {
  font-size: 0.25rem;
}

.fs-5 {
  font-size: 0.5rem;
}

.fs-75 {
  font-size: 0.75rem;
}

.fs-85 {
  font-size: 0.85rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-125 {
  font-size: 1.25rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-175 {
  font-size: 1.75rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-225 {
  font-size: 2.25rem;
}

.fs-25 {
  font-size: 2.5rem;
}

.fs-275 {
  font-size: 2.75rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-325 {
  font-size: 3.25rem;
}

.fs-35 {
  font-size: 3.5rem;
}

.fs-375 {
  font-size: 3.75rem;
}

.fs-4 {
  font-size: 4rem;
}

body {
  background-color: #f0be90;
}

#introduction {
  background: linear-gradient(transparent, #BD5D38);
  min-height: calc(100vh - 60px);
}

#projects {
  background-color: #fff;
}

#about {
  background: linear-gradient(transparent, #BD5D38);
  min-height: 100vh;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  min-height: 20vh;
}

.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 60px;
  z-index: 1;
}

.fixed-top + section {
  margin-top: 60px;
}

.list-icons {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.intro-portrait-img {
  width: 180px;
  border-radius: 50%;
  border: solid 0.6rem rgba(241, 191, 175, 0.55);
}

section > .container {
  padding-top: 60px;
  padding-bottom: 5rem;
}

.nounder:HOVER {
  text-decoration: none;
}

.list-nopad {
  text-indent: -1.5em;
  padding-left: 1.5em;
  list-style-position: inside;
}

.list-square {
  list-style-type: square;
}
